name: Test .NET features

on:
  push:
    branches-ignore:
      - 'skip-ci/**'
    paths-ignore:
      - 'frontend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: ['resources', 'backend', 'worker']
        configuration: ['Debug', 'Release']

    env:
      DOTNET_VERSION: '6.0.x'
      DOTNET_CONFIGURATION: ${{ matrix.configuration }}
      MONGODB_VERSION: '5.0'
      WORKING_DIR: ./${{ matrix.project }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Show project directory
        run: ls -lah
        working-directory: ${{ env.WORKING_DIR }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: ${{ env.MONGODB_VERSION }}

      - name: Restore dependencies
        run: dotnet restore
        working-directory: ${{ env.WORKING_DIR }}

      - name: Build project
        run: dotnet build --no-restore --configuration ${{ env.DOTNET_CONFIGURATION }}
        working-directory: ${{ env.WORKING_DIR }}

      - name: Run tests
        run: dotnet test --no-build --no-restore --configuration ${{ env.DOTNET_CONFIGURATION }} --verbosity normal
        working-directory: ${{ env.WORKING_DIR }}
